<form action="/techniques/search" method="GET">
  <input name="query" type="text" />
  <button type="submit">Search</button>
</form>

<h1><span>Techniques</span></h1>
<% @techniques.each do |technique| %>

  <h2><span><%= technique.try(:title) %></span> </h2>
  <p><%= technique.try(:description) %></p>

<% end %>